html {
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
  color: rgb(63, 64, 69);
  line-height: 1.2;
}

.column {
  padding: 0 24px;
}

.main-content {
  position: relative;
  top: 64px;
}

.main-content div.column:nth-child(2n + 2) {
  background-color: rgb(255, 251, 247);
}

.main-content div.column:nth-child(2n + 3) {
  background-color: rgb(233, 233, 235);
}

.container {
  width: 100%;
  display: flex;
}

.left-container {
  width: 60%;
  margin-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.right-container {
  width: 40%;
  margin-right: -24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

h1, h2, h3, h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

p, span, li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3, h4 {
  font-size: 24px;
}

li  {
  list-style-type: none;
}

@media only screen and (max-width: 995px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 30px;
  }

  h3, h4 {
    font-size: 18px
  }

  p, span, li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 837px) {
  .column {
    padding: 0;
  }

  .left-container {
    display: block;
    width: 100%;
    padding: 0;
    margin-right: 0;
  }

  .right-container {
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 660px) {
  .main-content div.column:nth-child(2n + 3) {
    background-color: rgb(255, 251, 247);
  }

  p, span, li {
    font-size: 18px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3, h4 {
    font-size: 24px;
  }
}

/* rows */
.row {
  padding: 16px 16px;
}

.box {
  display: flex;
  align-items: center;
}

.row-image {
  padding-right: 16px;
  width: 35%;
  height: auto;
}

.row-content {
  width: 65%;
}

@media only screen and (max-width: 660px) {
  .box {
    flex-direction: column;
  }

  .row-image {
    width: 100%;
    padding-right: 0;
  }

  .row-content {
    width: 100%;
  }
}


/* header */
.header,
.logo,
.logo-text,
.navigation ul {
  display: flex;
  align-items: center;
}

.header-background {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
}

.header {
  padding: 0 24px;
  height: 64px;
}

.header.desktop {
  justify-content: space-between;
  font-size: 26px;
}

.header .navigation {
  font-size: 22px;
}

.logo-image {
  height: 56px;
  margin-bottom: -1px;
}

.logo-text {
  height: 32px;
  text-transform: uppercase;
  font-family: "Encode Sans", sans-serif;
  font-weight: bold;
}

.logo-text.one {
  color: rgb(98, 100, 107);
}

.logo-text.two {
  color: rgb(171, 170, 169);
}

.navigation.desktop ul li {
  padding-right: 16px;
  color: rgb(98, 100, 107);
}

.navigation.desktop ul li:last-child {
  padding-right: 0;
}

.header.mobile {
  display:  none;
}

@media only screen and (max-width: 900px) {
  .header.desktop {
    display: none;
  }

  .header.mobile {
    display: flex;
    align-items: center;
  }

  .navigation.mobile {
    width: 100%;
  }

  .header.mobile nav ul {
    justify-content: space-between;
  }

  .header.mobile nav ul img {
    height: 48px;
    margin-bottom: -1px;
  }

  .header.mobile .logo-image {
    height: 52px;
  }
}


/* banner */
.banner.column {
  background-color: rgb(209, 208, 207);
}

.banner.column .container {
  width: 100%;
  display: flex;
  align-items: center;
}

.banner.column .left-container {
  margin-right: 0;
}

.banner .right-container {
  margin-right: 0;
}

.banner-container {
  padding: 0 24px;
}

img.big.image {
  width: 100%;
}

.banner h1 {
  padding-bottom: 32px;
}

.banner h3 {
  padding-bottom: 24px;
}

.button {
  background-color: grey;
  text-align: center;
  padding: 8px 0;
}

.button span {
  color: white;
  font-size: 26px;
}

@media only screen and (max-width: 837px) {
  .banner .container {
    flex-direction: column;
  }

  .banner-container {
    padding: 32px 16px;
  }
}

/* layout1 column */

.layout1.column h2 {
  padding-top: 32px;
}

.layout1.column .left-container p {
  padding: 24px 0;
}

.layout1.column .left-container {
  position: relative;
}

span.credit {
  font-size: 12px;
  position: absolute;
  bottom: 32px;
}

.layout1.column .right-container.dektop {
  border-left: 2px rgba(209, 208, 207, 0.7) solid;
  margin-right: -26px;
}

.layout1.column .right-container.mobile {
  display: none;
}

.layout1.column .row {
  border-bottom: 2px rgba(209, 208, 207, 0.7) double;
}

.layout1.column .row:last-child {
  background-color: rgb(209, 208, 207);
}

.layout1.column .row-content p {
   padding: 8px 0;
}

.layout1.column .row-content span a {
  text-decoration: none;
  color: rgb(62, 158, 227);
}

@media only screen and (max-width: 995px) {
  span.credit {
    bottom: 16px;
  }
}

@media only screen and (max-width: 837px) {
  .layout1.column .left-container {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .layout1.column .right-container.desktop {
    display: none;
  }

  .layout1.column .right-container.mobile {
    display: block;
  }

  .layout1.column .row {
    border: none;
    padding-bottom: 48px;
  }

  .layout1.column .row:last-child {
    padding-bottom: 32px;
    background-color: inherit;
  }

  .row-content {
    padding-left: 16px;
  }

  .row-content h4 {
    padding-top: 16px;
  }
}


/* second/layout2 column */
.layout2.column {
  padding: 32px 56px;
}

.layout2.column h2 {
  text-align: center;
  padding-bottom: 32px;
}


.layout2.row {
  padding-top: 0;
  display: flex;
  justify-content: center;
}

.layout2.row:last-child {
  padding-bottom: 0;
}

.layout2-item {
  margin: 0 16px;
  width: 33.3%;
  background-color: white;
}

.layout2-image {
  height: auto;
  width: 100%;
}

.layout2-content {
  padding: 16px;
}

.layout2-content h4 {
  padding-bottom: 16px;
}

.layout2-content p {
  padding: 8px 0;
}

.layout2.column .mobile-view {
  display: none;
  padding: 0 16px;
}


@media only screen and (max-width: 837px) {
  .layout2.column {
    padding: 32px 0;
  }

  .layout2.row {
    justify-content: space-between;
  }

  .layout2-item {
    margin: 0;
    width: 32%;
  }
}

@media only screen and (max-width: 660px) {

  .layout2.column .desktop-view {
    display: none;
  }

  .layout2.column .mobile-view {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .layout2.column h2 {
    padding-bottom: 16px;
  }

  .layout2.column .mobile-view h4 {
    padding: 16px 16px 24px 16px;
    margin-bottom: 8px;
    background-color: rgb(209, 208, 207);
    width: 100%;
    box-sizing: border-box;
  }

  .layout2.column .mobile-view h4:last-child {
    margin-bottom: 0;
  }

}

/* third/layout3 column */

.layout3.column h2 {
  padding-top: 32px;
  text-align: center;
}

.layout3.column .left-container h4 {
  padding-top: 24px;
}

.layout3.column .left-container p {
  padding-top: 8px;
}

.layout3.column .row:first-child {
  background-color: rgb(209, 208, 207);
}

.layout3.column .row-content p {
   padding: 8px 0;
}

@media only screen and (max-width: 837px) {
  .layout3.column .left-container {
    padding: 32px 16px;
  }

  .layout3.column .right-container {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .layout3.column .left-container {
    padding: 16px 0 24px 0;
  }

  .layout3.column .left-container h4, .layout3.column .left-container p {
    display: none;
  }
}

/* footer */
footer {
  background-color: rgb(255, 251, 247);
  display: flex;
  align-items: center;
  padding: 16px 0 16px 24px;
  justify-content: space-between;
  font-size: 12px;
}

footer .legal ul {
  display: flex;
  align-items: center;
}

footer .legal ul li{
  padding-right: 16px;
}

@media only screen and (max-width: 995px) {
  footer span, footer li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 837px) {
  footer {
    padding: 0;
  }

  footer span, footer li {
    font-size: 12px;
    padding: 16px 0 16px 16px;
  }
}

@media only screen and (max-width: 660px) {
  footer .legal {
    display: none;
  }
}
