html {
  font-size: 16px;
}

body {
  max-width: 100%;
}

.column {
  padding: 0 24px;
}

.main-content {
  position: relative;
  top: 64px;
}

.main-content div.column:nth-child(2n + 2) {
  background-color: rgb(255, 251, 247);
}

.main-content div.column:nth-child(2n + 3) {
  background-color: rgb(233, 233, 235);
}


.container {
  width: 100%;
  display: flex;
}

.left-container {
  width: 60%;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.right-container {
  width: 40%;
  margin-right: -24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* rows */
.row {
  padding: 16px 16px;
}

.box {
  display: flex;
  align-items: center;
}

.row-image {
  padding-right: 16px;
  width: 35%;
  height: auto;
}

.row-content {
  width: 65%;
}


/* header */
.header,
.logo,
.logo-text,
.navigation ul {
  display: flex;
  align-items: center;
}

.header-background {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
}

.header {
  padding: 0 24px;
  height: 64px;
  justify-content: space-between;
  font-size: 28px;
}

.logo-image {
  height: 60px
}

.logo-text {
  height: 32px;
  text-transform: uppercase;
}

.navigation ul li {
  padding-right: 16px;
}

.navigation ul li:last-child {
  padding-right: 0;
}

/* banner */
.banner.column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 208, 207);
}

.banner .container {
  width: 100%;
  padding: 0 -24px;
  display: flex;
  align-items: center;
}

img.big.image {
  width: 100%;
}

.banner-container {
  padding:  24px;
}

.button {
  background-color: grey;
}

.button span {
  padding: 8px 0;
  text-align: center;
}

/* layout1 column */

.layout1.column h2 {
  padding-top: 32px;
}

.layout1.column .left-container p {
  padding: 24px 0;
}

.layout1.column .left-container {
  position: relative;
}

.credit {
  position: absolute;
  bottom: 32px;
}

.layout1.column .right-container {
  border-left: 2px rgba(209, 208, 207, 0.7) solid;
}

.layout1.column .row {
  border-bottom: 2px rgba(209, 208, 207, 0.7) double;
}

.layout1.column .row:last-child {
  background-color: rgb(209, 208, 207);
}

.layout1.column .row-content p {
   padding: 8px 0;
}


/* second/layout2 column */
.layout2.column {
  padding: 32px 56px;
}

.layout2.column h2 {
  text-align: center;
}

.layout2.row {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.layout2-item {
  margin: 0 16px;
  width: 33.3%;
  background-color: white;
}

.layout2-image {
  height: auto;
  width: 100%;
}

.layout2-content {
  padding: 16px;
}

.layout2-content h4 {
  padding-bottom: 16px;
}

.layout2-content p {
  padding: 8px 0;
}

/* third/layout3 column */

.layout3.column h2 {
  padding-top: 32px;
  text-align: center;
}

.layout3.column .left-container h4 {
  padding-top: 24px;
}

.layout3.column .left-container p {
  padding-top: 8px;
}

.layout3.column .row:first-child {
  background-color: rgb(209, 208, 207);
}

.layout3.column .row-content p {
   padding: 8px 0;
}

/* footer */
footer {
  background-color: rgb(255, 251, 247);
  display: flex;
  align-items: center;
  padding: 16px 0 16px 24px;
  justify-content: space-between;
}

footer .legal ul {
  display: flex;
  align-items: center;
}

footer .legal ul li{
  padding-right: 16px;
}
