html {
  font-size: 16px;
}

body {
  max-width: 100%;
}

.column {
  padding: 0 24px;
}

.main-content {
  position: relative;
  top: 64px;
}

.container {
  width: 100%;
  display: flex;
}

.left-container {
  width: 60%;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.right-container {
  width: 40%;
  margin-right: -24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* header */
.header,
.logo,
.logo-text,
.navigation ul {
  display: flex;
  align-items: center;
}

.header-background {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
}

.header {
  padding: 0 24px;
  height: 64px;
  justify-content: space-between;
  font-size: 28px;
}

.logo-image {
  height: 60px
}

.logo-text {
  height: 32px;
  text-transform: uppercase;
}

.navigation ul li {
  padding-right: 16px;
}

.navigation ul li:last-child {
  padding-right: 0;
}

/* banner */
.banner.column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 208, 207);
}

.banner .container {
  width: 100%;
  padding: 0 -24px;
  display: flex;
  align-items: center;
}

img.big.image {
  width: 100%;

}

.banner-container {
  padding:  24px;
}

.button {
  background-color: grey;
}

.button span {
  padding: 8px 0;
  text-align: center;
}

/* layout1 column */
.layout1.column {
  background-color: rgb(255, 246, 241);
}

.layout1.column h2 {
  padding-top: 32px;
}

.layout1.column p {
  padding: 24px 0;
}

.layout1.column .left-container {
  position: relative;
}

.credit {
  position: absolute;
  bottom: 32px;
}

.layout1.column .right-container {
  border-left: 2px rgba(209, 208, 207, 0.7) solid;
}

.layout1.column .row {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  border-bottom: 2px rgba(209, 208, 207, 0.7) double;
}

.layout1.column .row:last-child {
  background-color: rgb(209, 208, 207);
}

.layout1.column .row-image {
  padding-right: 16px;
}
